
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/wy.jpg}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link th:href="@{/css/bootstrap.css}" rel = "stylesheet">


  <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel = "stylesheet">



</head>

<body>

  <main>



    <div class="container">
    <form th:action="@{/registerr}" method="post" th:object="${manager}"
         style="max-width: 600px; margin: 0 auto;">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="pages-register.html" >
                    <img th:src="@{/images/wy.jpg}"/>
                    <span class="d-none d-lg-block"></span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                    <div class="pt-8 pb-6"></div>
                    <h5 class="card-title text-center ">Register</h5>
                    <p class="text-center small">Enter details to Register</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Name</label>
                      <input type="text" th:field="*{name}" class="form-control"
                       required minlength="2" maxlength="20"/>
                      <div class="invalid-feedback">Please, enter name!</div>
                    </div>

   			 <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                     <input type="email" th:field="*{email}" class="form-control" required />
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

   <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourCont" class="form-label">Contact</label>
                       <input type="text" th:field="*{phone}" class="form-control"
                           required minlength="2" maxlength="20"/>
                      <div class="invalid-feedback">Please, enter Contact!</div>
                    </div>
                

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Address</label>
                        <input type="text" th:field="*{address}" class="form-control"
                               required minlength="2" maxlength="20" />
                    </div>



                        <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                   
                  </form>

                </div>
              </div>

              <div class="credits">
                
                Designed by <a href="">Student of CUST</a>
              </div>

            </div>
          </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->



  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>