<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Page</title>
    <link rel="stylesheet" type="text/css" href="lg.css">


<body>
<form  action="{/inventory}" method="post">
    <div class="wrapper">
        <h1>Sign In</h1>


        <div class="input">
            <input type="name" name="" placeholder="User Name">
            <input type="password" name="" placeholder="Password">
        </div>
        <button type="">Sign In</button>
    </div>
</form>


</body>

</html>